# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/
.idea/
# Bower components
static/bower_components/
static/node_modules

# Uglified JavaScript
static/dist/
static/django/

# Staticfiles
staticfiles/

env/
coverage.xml
