aws:
    region: 'us-west-2'
    bucket_path: 'app'
app:
    app_name: 'My First Elastic Beanstalk Application'
    environments:
            'socialaggregator-env':
                cname_prefix: 'env'
                option_settings:
                    'aws:elasticbeanstalk:application:environment':
                        DATABASE_URL: '${DATABASE_URL}'
                        REDIS_URL: '${REDIS_URL}'
                        SECRET_KEY: '${SECRET_KEY}'
                        SENTRY_PRIVATE_DSN: '${SENTRY_PRIVATE_DSN}'

                        SOCIAL_AUTH_FACEBOOK_KEY: '${SOCIAL_AUTH_FACEBOOK_KEY}'
                        SOCIAL_AUTH_FACEBOOK_SECRET: '${SOCIAL_AUTH_FACEBOOK_SECRET}'
                        SOCIAL_AUTH_GITHUB_KEY: '${SOCIAL_AUTH_GITHUB_KEY}'
                        SOCIAL_AUTH_GITHUB_SECRET: '${SOCIAL_AUTH_GITUHB_SECRET}'
                        SOCIAL_AUTH_TWITTER_KEY: '${SOCIAL_AUTH_TWITTER_KEY}'
                        SOCIAL_AUTH_TWITTER_SECRET: '${SOCIAL_AUTH_TWITTER_SECRET}'
                        EMAIL_HOST: '${EMAIL_HOST}'
                        EMAIL_HOST_USER: '${EMAIL_HOST_USER}'
                        EMAIL_HOST_PASSWORD: '${EMAIL_HOST_PASSWORD}'

                        DJANGO_CONFIGURATION: 'Production'
                        DJANGO_SETTINGS_MODULE: 'app.settings.settings'
                        FRONTEND_CONFIRMATION_URI: 'http://d1yufmp7734ayp.cloudfront.net/registration/confirm/'
                        FRONTEND_RESET_PASSWORD_URI: 'http://d1yufmp7734ayp.cloudfront.net/password/reset/complete/'
                        FRONTEND_URI: 'http://d1yufmp7734ayp.cloudfront.net/'
