{% load compress %}
{% load staticfiles %}

{% compress js %}
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'bower_components/material-design-lite/material.min.js' %}"></script>
    <script src="{% static 'dist/js/app.js' %}"></script>
{% endcompress %}