<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>SocialAggregator</title>
    {% include 'stylesheets.html' %}
</head>
<body>
<div ng-controller="NavbarController as vm" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">SocialAggregator</span>
            <div class="mdl-layout-spacer"></div>
            {% if not user.is_authenticated %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" ng-href="login">Login</a>
                <a class="mdl-navigation__link" ng-href="register">Registration</a>
            </nav>
            {% endif %}
        </div>
    </header>
    {% if user.is_authenticated %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ user.username }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" ng-href="" ng-click="vm.logout()">Logout</a>
        </nav>
    </div>
    {% endif %}
</div>


<main class="mdl-layout mdl-js-layout mdl-color--grey-100 content">
    {% block content %}
    {% endblock %}
</main>

{% include 'javascripts.html' %}
</body>
</html>