<md-content class="Page-container" ng-controller="LoginCtrl as vm">
  <div class="Login-formContainer" layout="column" layout-align="center center">

    <h1 class="md-headline">Sign In</h1>

    <form ng-submit="vm.login()">
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Email</label>
          <input type="email" ng-model="vm.email">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Password</label>
          <input type="password" ng-model="vm.password">
        </md-input-container>
      </div>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="LoginForm-submit md-primary md-raised">Sign in</md-button>
      <md-button ng-click="vm.facebookLogin()" class="LoginForm-submit md-primary md-raised">Sign in via Facebook</md-button>
      <md-button ng-click="vm.githubLogin()" class="LoginForm-submit md-primary md-raised">Sign in via Github</md-button>
      <md-button ng-click="vm.twitterLogin()" class="LoginForm-submit md-primary md-raised">Sign in via Twitter</md-button>
      </div>

    </form>


  </div>
</md-content>
