<md-content class="Page-container" ng-controller="LoginController as vm">
  <div class="Login-formContainer" layout="column" layout-align="center center">

    <h1 class="md-headline">Sign In</h1>

    <form name="LoginForm" ng-submit="vm.login(LoginForm)">
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Email</label>
          <input required name="email" type="email" ng-model="vm.email"
                 ng-change="vm.resetServerValidation(LoginForm.email)">
          <div ng-messages="LoginForm.email.$error" role="alert">
            <div ng-message="serverValidation">
              {{ vm.backendValidationErrors.email.message }}
            </div>
            <div ng-message="email">
              Enter a correct email address
            </div>
          </div>
        </md-input-container>
      </div>

      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Password</label>
          <input required type="password" ng-model="vm.password">
        </md-input-container>
      </div>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="LoginForm-submit md-primary md-raised">Sign in</md-button>
        <md-button ng-click="vm.socialLogin('facebook')" class="LoginForm-submit md-primary md-raised">Sign in via
          Facebook
        </md-button>
        <md-button ng-click="vm.socialLogin('github')" class="LoginForm-submit md-primary md-raised">Sign in via
          Github
        </md-button>
        <md-button ng-click="vm.socialLogin('twitter')" class="LoginForm-submit md-primary md-raised">Sign in via
          Twitter
        </md-button>

        <md-button ui-sref="enter.passreset" class="md-primary">Forgot your password ?</md-button>
      </div>
    </form>


  </div>
</md-content>
