<md-content class="Page-container" ng-controller="PasswordResetCtrl as vm">
  <div class="Login-formContainer" layout="column" layout-align="center center">

    <h1 class="md-headline">Password reset</h1>
    <md-subheader>Please, enter your e-mail</md-subheader>

    <form ng-submit="vm.reset(vm.email)">
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Email</label>
          <input type="email" ng-model="vm.email">
        </md-input-container>
      </div>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="LoginForm-submit md-primary md-raised">Reset password</md-button>
      </div>
    </form>


  </div>
</md-content>
