<md-content class="Page-container" ng-controller="PasswordResetCompleteCtrl as vm">
  <div class="Login-formContainer" layout="column" layout-align="center center">

    <h1 class="md-headline">Reset password</h1>

    <form ng-submit="vm.complete()">
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>New password</label>
          <input type="password" ng-model="vm.credentials.new_password1">
        </md-input-container>
      </div>
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Confirm new password</label>
          <input type="password" ng-model="vm.credentials.new_password2">
        </md-input-container>
      </div>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="LoginForm-submit md-primary md-raised">Set new password</md-button>
      </div>

    </form>


  </div>
</md-content>
