<md-content class="Page-container" ng-controller="PasswordResetCompleteCtrl as vm">
  <div class="Login-formContainer" layout="column" layout-align="center center">

    <h1 class="md-headline">Reset password</h1>

    <form name="PasswordForm" ng-submit="vm.complete(PasswordForm)">
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>New password</label>
          <input required type="password" minlength="8" name="new_password1" ng-model="vm.credentials.new_password1"
                 ng-change="vm.resetServerValidation(PasswordForm.new_password1)">
          <div ng-messages="PasswordForm.new_password1.$error" role="alert">
            <div ng-message="serverValidation">
              {{ vm.backendValidationErrors.new_password1.message }}
            </div>
            <div ng-message="minlength">
              The new password must be large than 8 characters
            </div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-input-container class="LoginForm-inputContainer">
          <label>Confirm new password</label>
          <input required type="password" minlength="8" name="new_password2" ng-model="vm.credentials.new_password2"
                 match="vm.credentials.new_password1"
                 ng-change="vm.resetServerValidation(PasswordForm.new_password2)">
          <div ng-messages="PasswordForm.new_password2.$error" role="alert">
            <div ng-message="serverValidation">
              {{ vm.backendValidationErrors.new_password2.message }}
            </div>
            <div ng-message="minlength">
              The new password must be large than 8 characters
            </div>
            <div ng-message="match">
              Passwords do not match
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="LoginForm-submit md-primary md-raised">Set new password</md-button>
      </div>

    </form>


  </div>
</md-content>
