<md-content class="Page-container" ng-controller="ProfileCtrl as vm">
  <div class="Login-formContainer" layout="column" layout-align="center center">

    <h2 class="md-headline">{{ vm.username }}</h2>

    <md-button class="md-primary=" ng-click="vm.addFacebook()">Add facebook account</md-button>
    <md-button class="md-primary=" ng-click="vm.addGithub()">Add github account</md-button>
    <md-button class="md-primary=" ng-click="vm.addTwitter()">Add twitter account</md-button>


  </div>
</md-content>
