<md-content class="Page-container" ng-controller="ProfileEditCtrl as vm">
  <div class="Profile-formContainer" layout="column" layout-align="center center">

    <h1 class="md-headline">Update your profile</h1>

    <form ng-show="vm.user" ng-submit="vm.update()">
      <div>
        <md-input-container class="ProfileForm-inputContainer">
          <label>Email</label>
          <input type="email" ng-model="vm.user.email">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="ProfileForm-inputContainer">
          <label>Username</label>
          <input type="text" ng-model="vm.user.username">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="ProfileForm-inputContainer">
          <label>First name</label>
          <input type="text" ng-model="vm.user.first_name">
        </md-input-container>
      </div>

      <div>
        <md-input-container class="ProfileForm-inputContainer">
          <label>Last name</label>
          <input type="text" ng-model="vm.user.last_name">
        </md-input-container>
      </div>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="ProfileForm-submit md-primary md-raised">Update profile</md-button>
      </div>

    </form>
  </div>
</md-content>
