<md-content class="Page-container" ng-controller="SettingsCtrl as vm">


  <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Profile">
          <md-content class="md-padding" layout-align="center center">
            <h1 class="md-headline">Profile settings</h1>
            <div class="Login-formContainer" layout="column" layout-align="center center">
              <form ng-show="vm.user" ng-submit="vm.updateProfile()">
                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>Email</label>
                    <input type="email" ng-model="vm.user.email">
                  </md-input-container>
                </div>

                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>Username</label>
                    <input type="text" ng-model="vm.user.username">
                  </md-input-container>
                </div>

                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>First name</label>
                    <input type="text" ng-model="vm.user.first_name">
                  </md-input-container>
                </div>

                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>Last name</label>
                    <input type="text" ng-model="vm.user.last_name">
                  </md-input-container>
                </div>

                <div layout="column" layout-align="center center">
                  <md-button type="submit" class="ProfileForm-submit md-primary md-raised">Update profile</md-button>
                </div>

              </form>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="security">
          <md-content class="md-padding">
            <h1 class="md-headline">Security settings</h1>
            <div class="Login-formContainer" layout="column" layout-align="center center">
              <md-subheader>Change password</md-subheader>
              <form ng-submit="vm.changePassword()" name="changePasswordForm">
                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>Old password</label>
                    <input type="password" required name="old_password" ng-model="vm.credentials.old_password">
                    <div ng-messages="changePasswordForm.old_password.$error" role="alert">
                      <div ng-message="required">
                        Type your old password
                      </div>
                    </div>
                  </md-input-container>
                </div>
                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>New password</label>
                    <input type="password" required name="new_password1" ng-model="vm.credentials.new_password1">
                    <div ng-messages="changePasswordForm.new_password1.$error" role="alert">
                      <div ng-message="required">
                        Type new password
                      </div>
                    </div>
                  </md-input-container>
                </div>
                <div>
                  <md-input-container class="ProfileForm-inputContainer">
                    <label>Confirm password</label>
                    <input type="password" required name="new_password2" ng-model="vm.credentials.new_password2" match="vm.credentials.new_password1">
                    <div ng-messages="changePasswordForm.new_password1.$error" role="alert">
                      <div ng-message="required">
                        Confirm the new password
                      </div>
                      <div ng-message="match">
                        Passwords do not match
                      </div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="column" layout-align="center center">
                  <md-button type="submit" ng-disabled="changePasswordForm.$invalid" class="ProfileForm-submit md-primary md-raised">Change password</md-button>
                </div>
              </form>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</md-content>
